/**************************/
/* BELOW 1152px */
/**************************/
@media (max-width: 72em) {
  .intro-container {
    width: 31.1rem;
    height: 16.1rem;
    margin: 8.5rem auto 7.6rem auto;
  }

  .heading-primary {
    font-size: 2.4rem;
    letter-spacing: 0.17px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    align-items: center;
  }

  .card {
    width: 31.1rem;
    height: 22.2rem;
    --shared-padding: 2.8rem;
    padding: var(--shared-padding);
  }

  .icon {
    width: 5.7rem;
    height: 5.7rem;
  }
}
